*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(180, 250, 255);
}
.gameContainer{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    box-shadow: -5px 5px 15px rgb(94, 116, 108),
    5px -10px 15px rgb(94, 116, 108); 
    border-radius: 5px;
}
#score{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: Algerian;
}
#myCanvas{
    border: 2px solid rgb(138, 165, 155);
    background-color: white;
}
.btnHolder{
    display: flex;
    justify-content: center;
    gap: 25px;
}
button{
    height: 50px;
    padding: 0 10px;
    border-radius: 8px;
    color: white;
    font-weight: 1000;
    background-color: rgb(63, 66, 65);
    cursor: pointer;
}

.options{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

#Level{
    height: 30px;
    padding: 0 10px;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-weight: 1000;
    appearance: none;
    cursor: pointer; 
}

#Level option{
    font-weight: 1000;
}

.high-score{
    font-size: 16px;
    padding: 5px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
}